In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/SFPD_Incidents_-_from_1_January_2003.csv')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1407904 entries, 0 to 1407903
Data columns (total 14 columns):
IncidntNum    1407904 non-null int64
Category      1407904 non-null object
Descript      1407904 non-null object
DayOfWeek     1407904 non-null object
Date          1407904 non-null object
Time          1407904 non-null object
PdDistrict    1407903 non-null object
Resolution    1407904 non-null object
Address       1407904 non-null object
X             1407903 non-null float64
Y             1407903 non-null float64
Location      1407903 non-null object
PdId          1407903 non-null float64
Year          1407904 non-null object
dtypes: float64(3), int64(1), object(10)
memory usage: 161.1+ MB

In [35]:
df.head(10)

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId,Year
0,160117098,DRIVING UNDER THE INFLUENCE,DRIVING WHILE UNDER THE INFLUENCE OF ALCOHOL,Monday,02/08/2016,23:55,CENTRAL,"ARREST, BOOKED",PINE ST / MONTGOMERY ST,-122.402574,37.791898,"(37.7918981438883, -122.402573952339)",1.601171e+13,2016
1,160117098,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Monday,02/08/2016,23:55,CENTRAL,"ARREST, BOOKED",PINE ST / MONTGOMERY ST,-122.402574,37.791898,"(37.7918981438883, -122.402573952339)",1.601171e+13,2016
2,160117010,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,02/08/2016,23:50,MISSION,"ARREST, BOOKED",20TH ST / CHURCH ST,-122.428052,37.758090,"(37.7580899767786, -122.428051707644)",1.601170e+13,2016
3,160117060,ASSAULT,AGGRAVATED ASSAULT ON POLICE OFFICER WITH A KNIFE,Monday,02/08/2016,23:50,BAYVIEW,"ARREST, BOOKED",1200 Block of 4TH ST,-122.391397,37.772351,"(37.7723509714232, -122.391397033631)",1.601171e+13,2016
4,160117060,OTHER OFFENSES,RESISTING ARREST,Monday,02/08/2016,23:50,BAYVIEW,"ARREST, BOOKED",1200 Block of 4TH ST,-122.391397,37.772351,"(37.7723509714232, -122.391397033631)",1.601171e+13,2016
5,160117060,WEAPON LAWS,EXHIBITING DEADLY WEAPON IN A THREATING MANNER,Monday,02/08/2016,23:50,BAYVIEW,"ARREST, BOOKED",1200 Block of 4TH ST,-122.391397,37.772351,"(37.7723509714232, -122.391397033631)",1.601171e+13,2016
6,160116987,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,02/08/2016,23:35,TARAVAL,"ARREST, BOOKED",20TH AV / LINCOLN WY,-122.478325,37.765399,"(37.7653988057984, -122.478325183799)",1.601170e+13,2016
7,160116993,OTHER OFFENSES,TRAFFIC VIOLATION,Monday,02/08/2016,23:34,INGLESIDE,"ARREST, BOOKED",GENEVA AV / CAYUGA AV,-122.443697,37.718928,"(37.718927976006, -122.443696904615)",1.601170e+13,2016
8,166034949,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,02/08/2016,23:19,INGLESIDE,NONE,GENEVA AV / STONERIDGE LN,-122.425893,37.710864,"(37.7108641868079, -122.425893256427)",1.660349e+13,2016
9,166039193,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM",Monday,02/08/2016,23:00,SOUTHERN,NONE,BRANNAN ST / 4TH ST,-122.396533,37.778327,"(37.7783268978785, -122.396533248456)",1.660392e+13,2016

In [8]:
df['Year'] = [d.split('/')[2] for d in df['Date']]

In [9]:
df.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId,Year
0,160117098,DRIVING UNDER THE INFLUENCE,DRIVING WHILE UNDER THE INFLUENCE OF ALCOHOL,Monday,02/08/2016,23:55,CENTRAL,"ARREST, BOOKED",PINE ST / MONTGOMERY ST,-122.402574,37.791898,"(37.7918981438883, -122.402573952339)",1.601171e+13,2016
1,160117098,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Monday,02/08/2016,23:55,CENTRAL,"ARREST, BOOKED",PINE ST / MONTGOMERY ST,-122.402574,37.791898,"(37.7918981438883, -122.402573952339)",1.601171e+13,2016
2,160117010,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,02/08/2016,23:50,MISSION,"ARREST, BOOKED",20TH ST / CHURCH ST,-122.428052,37.758090,"(37.7580899767786, -122.428051707644)",1.601170e+13,2016
3,160117060,ASSAULT,AGGRAVATED ASSAULT ON POLICE OFFICER WITH A KNIFE,Monday,02/08/2016,23:50,BAYVIEW,"ARREST, BOOKED",1200 Block of 4TH ST,-122.391397,37.772351,"(37.7723509714232, -122.391397033631)",1.601171e+13,2016
4,160117060,OTHER OFFENSES,RESISTING ARREST,Monday,02/08/2016,23:50,BAYVIEW,"ARREST, BOOKED",1200 Block of 4TH ST,-122.391397,37.772351,"(37.7723509714232, -122.391397033631)",1.601171e+13,2016

In [13]:
df_2016 = df[df['Year']=='2016']

In [14]:
df_2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15053 entries, 0 to 15052
Data columns (total 14 columns):
IncidntNum    15053 non-null int64
Category      15053 non-null object
Descript      15053 non-null object
DayOfWeek     15053 non-null object
Date          15053 non-null object
Time          15053 non-null object
PdDistrict    15052 non-null object
Resolution    15053 non-null object
Address       15053 non-null object
X             15053 non-null float64
Y             15053 non-null float64
Location      15053 non-null object
PdId          15053 non-null float64
Year          15053 non-null object
dtypes: float64(3), int64(1), object(10)
memory usage: 1.7+ MB

In [16]:
from collections import Counter

In [18]:
years = Counter(df['Year'])
years

Counter({'2006': 109691,
         '2007': 137639,
         '2008': 141311,
         '2009': 139861,
         '2010': 133525,
         '2011': 132699,
         '2012': 140858,
         '2013': 152812,
         '2014': 150161,
         '2015': 154294,
         '2016': 15053})

### What about actual crime descriptions

In [19]:
words = [d.lower().split() for d in df['Descript']]

In [21]:
words[0]

['driving', 'while', 'under', 'the', 'influence', 'of', 'alcohol']

In [24]:
word_count = Counter()

In [25]:
for l in words:
    word_count.update(l)

In [26]:
word_count.most_common(10)

[('theft', 319451),
 ('of', 278365),
 ('from', 201425),
 ('grand', 188019),
 ('auto', 154724),
 ('locked', 142508),
 ('property', 134316),
 ('petty', 108195),
 ('a', 85560),
 ('or', 84917)]

In [27]:
Counter.pop?

In [28]:
from nltk.corpus import stopwords

In [29]:
sw = stopwords.words('english')

In [32]:
for stwrd in sw:
    try: 
        word_count.pop(stwrd)
    except:
        pass

In [34]:
word_count.most_common(20)

[('theft', 319451),
 ('grand', 188019),
 ('auto', 154724),
 ('locked', 142508),
 ('property', 134316),
 ('petty', 108195),
 ('possession', 77179),
 ('stolen', 74342),
 ('malicious', 73226),
 ('mischief,', 72602),
 ('violation', 70358),
 ('arrest', 59410),
 ('vandalism', 57241),
 ('entry', 54606),
 ('aided', 53808),
 ('lost', 49890),
 ('battery', 48542),
 ('drivers', 47398),
 ('license,', 44980),
 ('suspended', 44980)]